<form action="/sessions/new" method="POST">
  <h2>log me in</h2>
  <label for="email">email</label>
  <input type="text" name="user[email]">
  <br>
  <br>
  <label for="password">password</label>
  <input type="password" name="user[password]">
  <input class="t-light-green" type="submit" value="log me">
  </form>
