.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
header {
  margin: 20px auto;
  width: 600px;
  height: 70px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
nav {
  margin: 0 auto;
  width: 600px;
  height: 35px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
nav ul {
  margin: 0;
  padding: 15px 0;
}
nav ul li {
  display: inline-block;
  padding-right: 25px;
}
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
.left {
  float: left;
}
.right {
  float: right;
}



